/*
把没有变化的东西抽出来
*/
#taiJi::before,
#taiJi::after {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.5s;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    padding: 0 12px;
    overflow: auto;
}

#taiJi {
    position: fixed;
    right: 20px;
    top: 20px;
}

#drawProcess {
    word-break: break-all;
}

/*PC 浏览器最小能缩到 500px 宽*/
@media(max-width:500px) {
    #taiJi {
        top: calc(100% - 220px);
        left: 50%;
        transform: translate(-50%, 10px);
    }

    .wrapper {
        max-height: calc(100vh - 220px);
    }
}